<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../src/css/index.css">
  <script src="../src/js/index.js"></script>
</head>
<body>
  <div id="container">
    <div class="section0 align">
      <div class="title">Welcome</div>
    </div>
    <div class="section1 align">
      <div class="title">To</div>
    </div>
    <div class="section2 align">
      <div class="title">Our</div>
    </div>
    <div class="section3 align">
      <div class="title">Page</div>
    </div>
    <div class="section4 align">
      <div class="title">!!!!</div>
    </div>
  </div>
  
</body>
</html>