* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* 100vh 500vh */
#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.align {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

/* .section0 {
  position: sticky;
} */
/* .section1 {
  display: flex;
  align-items: center;
  height: 100vh;
}
.section2 {
  display: flex;
  align-items: center;
  height: 100vh;
}
.section3 {
  display: flex;
  align-items: center;
  height: 100vh;
}
.section4 {
  display: flex;
  align-items: center;
  height: 100vh;
} */

.title {
  font-size: 60px;
  font-weight: 600;
}
